<div class="block" id="block-test">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="active"> 
        <% link_to '#block-test', "My Hacks" %>
      </li>
      <li> 
        <% link_to '#block-tables', "Classmates" %>
      </li> 
    </ul>
  </div>
  
  <div class="content">
    <h2 class="title">Hacks</h2>
    <div class="inner">
      <p>List your hacks:</p>
    </div>  
  </div>
  
  </div>
</div>      
            