.block#block-text
  .secondary-navigation
    %ul.wat-cf
      %li.active.first 
        %a{:href => "#block-text"} My Buzz
      %li
        %a{:href => "#block-tables"} Business 
              
  .content
    %h2.title Home
    .inner
      %p.first Welcome to eazybuzz!
            